.constructor__container {
	max-height: 100vh;
}

.constructor-palette__container {
	max-height: 100vh;
	overflow: auto;
  padding-top: 1rem;
}

.constructor-zone__container,
.constructor-propertys__container {
	padding: 1rem;
}

.constructor-propertys__container textarea[data-element-props-key="style"],
.constructor-propertys__container textarea[data-element-props-key="html"] {
	transition: all .3s;
	height: 6rem;
}

.constructor-propertys__container textarea[data-element-props-key="style"]:focus,
.constructor-propertys__container textarea[data-element-props-key="html"]:focus {
	height: 25rem;
}

.variant-element__container {
	padding: 1rem;
	border: 4px dashed hsla(0, 0%, 85%, 1);
	margin-bottom: 1rem;
	/*opacity: .5;*/
	transition: all .2s;
}

.variant-element__container.active {
	border-color: hsla(0, 60%, 85%, 1);
}

.variant-element__container:hover {
	opacity: 1;
	background: hsla(0, 0%, 98%, 1);
	cursor: move;
}

.constructor-drop-zone__container {
	border: 4px dashed hsla(0, 0%, 85%, 1);
	padding: 1rem 0;
	min-height: 4rem;
}

.constructor-drop-zone__container.active {
	border-color: hsla(0, 60%, 85%, 1);
}

.constructor-zone__container .row.col-lg-12 {
	margin: 0;
  margin-bottom: 1rem;
}

.constructor-drop-zone__container .row {
	margin: 0;
  margin-bottom: 1rem;
}

.constructor__container.preview .constructor-zone__container .constructor-drop-zone__container {
	border-width: 0;
	padding: 0;
	min-height: auto;
}

.constructor__container.preview .constructor-zone__container [data-type="row"] {
	padding-left: initial;
	padding-right: initial;
	/*margin-bottom: initial;*/
}

.constructor__container.preview .constructor-zone__container .variant-element__container {
	border-width: 0;
	padding: 0;
	margin: 0;
}
